*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background:linear-gradient(90deg, black,red);
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: #000713; 
    font-family: Arial, sans-serif;
}

#box{
    height: 12rem;
    width: 18rem;
    background:linear-gradient();
    border: 2px solid rgb(255, 5, 5); 
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(224, 10, 10, 0.936);
    gap: 15px;
}

#box h1 {
    font-size: 3rem;
    color: #333;
}


button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff1100;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #f76666;
    box-shadow: 0 1px 10px rgba(224, 10, 10, 0.936);
}